html, body{
    background-color: rgb(8, 28, 54);
}
.test{
    background-color: rgb(255, 253, 235);
    color: rgb(26, 50, 78);
    border: 2px solid rgb(26, 50, 78);
    margin: 20px;
    padding: 20px;
}
#myheader {
    background-color: rgb(26, 50, 78);
    color: rgb(255, 253, 235);
    padding: 20px;
    text-align: center;
}
nav{
    background-color: azure;
}
img {
  float: right;